.blog-header{
    width: 100vw;
    height: 70vh;
    background: linear-gradient(rgba(35, 40, 45, 0.74), rgba(0, 0, 0, 0.75)),
     transparent url(/src/assets/blogs.jpg) ;
     background-repeat: no-repeat;
     background-size: 1710px 700px;
  
}
.blog-header h2{
    text-align: center;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}
.blog-header p{
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 1);
}
.blogs-section{
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
    height: auto;
    width: 100vw;
    background-color:rgba(10, 19, 22, 1); ;

}
.blog-data{
    margin-top:100px ;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 500px;
    height: auto;
    border: 1px solid wheat;
   
}
.blog-image img{
    width: 500px;
    height: 333px;
}
.blog-description{
    background-color:rgba(255, 255, 255, 1) ;
    color:rgba(10, 19, 22, 1);
    margin-top: -4px;
}
.blog-description h2:hover{
color:#a71c20;
}
.blog-description a,h2{
  
    color:rgba(10, 19, 22, 1);
    text-align: center;
    margin-top: 20px;

}
.specifications{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color:  #a71c20;
    font-size: 18px;
    text-transform: capitalize;
  
   padding-top: 4px;
padding-bottom: 4px;
}
.blog-para p{
    font-size: 20px;
    color: #787373;
    margin: 14px 22px;
    text-align: center;
}
.blog-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
    float: none ;
    padding: 11px 21px ;
    font-size: 20px ;
    color:#a71c20; ;
    background: #fff ;
    border: 2px solid #a71c20;;
    margin-top: 10px ;
    margin-bottom: 20px;
}
.blog-btn:hover{
    background-color:#a71c20;
    color:rgba(255, 255, 255, 1) ;
}
    
