.categories-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  background-color:rgba(10, 19, 22, 1);
}
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit parent text color */
}
.title h2 {
  font-size: 30px;
  color: rgba(214, 130, 64, 1);
  font-weight: bold;
  margin-top: 10px;
  text-transform: none;
  text-decoration: underline;
}

.category-card {
  margin-top: 18px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  width: 317px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.category-card:hover {
  transform: translateY(-7px) scale(1.05); 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.category-icon {
  margin-top: 10px;
  width: 300.5px;
  height:175.45px;
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth animation for image */
  border-radius: 100px;
}

.category-card:hover .category-icon {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}

.category-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(214, 130, 64, 1);
  margin-top: 25px;
  transition: color 0.3s ease; /* Smooth text color change */
}

.category-card:hover .category-name {
  color:rgba(255, 255, 255, 1); /* Change text color on hover */
}
.category-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-grow: 1; /* Allow the button section to take available space */
  width: 100%; /* Stretch across the card */
}

.category-btn {
  background-color: rgba(214, 130, 64, 1);
  border-radius: 12px;
  height: 60px;
  width: 208.16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text */
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-btn:hover {
  background-color:rgba(255, 255, 255, 1);
  color: #333333; /* Lighter hover effect */
}
