.testimonials{
    background-color:  rgba(10, 19, 22, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedback-img{
    display: flex;
    width: 450px;
    margin-left: 830px;
    margin-top: -151px;
    margin-bottom: 65px;
    gap: 20px;
   
}

.feedback{
    width: 1330px;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    margin-top: 80px;
    /* margin-left: 160px; */
    margin-bottom: 68px;
}
.feedback-heading{
    width: 524px;
    height: 191.36px;
   color: rgba(214, 130, 64, 1);
   margin-top: 60px;
   margin-left: 50px;
}
.feedback-heading h2{
    font-size: 45px;
    box-shadow:8px 0px 14px rgb(230 171 126);
    
}
.feedback-heading h3{
    font-size: 18px;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.feedback-card{
    margin-left: 30px;
    width: 400px;
    height: 200px;
   border: 3px solid  rgba(214, 130, 64, 1);
    border-radius: 30px;
    position: relative;
    box-shadow: 15px 8px 16px rgba(0, 0, 0, 0.2);
}
.feedback-description{
    font-size: 22px;
    font-family: Epilogue;
    line-height: 30px;
    padding: 10px 10px;
}
.feedback-title{
    font-size: 24px;
    font-family: Fredoka One;
    margin-left: 15px;

}
.circle{
    width: 56px;
    height: 56px;
    position: absolute;
    top: 125px;
    right: 25px;
    background-color: rgba(214, 130, 64, 1);
    border-radius: 37.5px;
}
@media (max-width:1360px){
    .feedback{
        width: 1200px;
    }
    .feedback-img {
        width: 416px;
        margin-left: 774px;
    }
    .feedback-heading {
        width: 500px;
    }
    .feedback-heading h2{
        font-size: 43px;
       
        
    }
    .feedback-heading h3{
        font-size: 16px;
    }
}
@media (max-width:1235px){
    .feedback{
        width: 1100px;
    }
    .feedback-img {
        width: 396px;
        margin-left: 695px;
    }
    .feedback-heading {
        width: 480px;
    }
    .feedback-heading h2{
        font-size: 41px;   
    }
    .feedback-heading h3{
        font-size: 14px;
    }
}
@media (max-width:1135px){
    .feedback{
        width: 1000px;
    }
    .feedback-img {
        width: 351px;
        margin-left: 641px;
        margin-top: -101px;
    }
    .feedback-heading {
        width: 460px;
    }
    .feedback-heading h2{
        font-size: 40px;   
    }
   
}
@media (max-width:1035px){
    .feedback{
        width: 900px;
    }
    .feedback-img {
        width: 346px;
        margin-left: 504px;
        margin-top: -70px;
    }
    .feedback-heading {
        width: 450px;
    }
    .feedback-heading h2{
        font-size: 39px;   
    }
   
}
@media (max-width:1035px){
    .feedback{
        width: 800px;
    }
    .feedback-img {
        margin-left: 242px;
    }
    .feedback-heading {
        width: 450px;
    }
   
}
@media (max-width:850px){
    .feedback{
        width: 600px;
    }
    .feedback-img {
        margin-left: 143px;
    }
    .feedback-heading {
        width: 440px;
    }
   
}
@media (max-width:650px){
    .feedback{
        width: 520px;
    }
    .feedback-img {
        margin-left: 106px;
        margin-top: -33px;
        }
    .feedback-heading {
        width: 420px;
    }
   
}