/* Layout Styling */
.restaurant-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(10, 19, 22, 1);
}

.content-wrapper {
  display: flex;
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
}

.search-icon {
  font-size: 1.2rem;
  color: #666;
  position: absolute;
  top: 124px;
  z-index: 1;
  left: 1070px;
}

/* Sidebar Filter Styling */
.filter-sidebar {
  width: 250px;
  padding: 20px;
  background-color: rgba(214, 130, 64, 1);
  border-right: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 20px;
}

.filter-sidebar h3 {
  margin-bottom: 20px;
  color: #333;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-section select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Main Content */
.restaurant-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  flex: 1;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -25px;
}

.filter-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Restaurant Card Styling */
.restaurant-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 90%;
  height: 700px;
}

/* .restaurant-card:hover {
  transform: scale(1.01);
} */

.image-styles img {
  width: 68%;
  height: 237px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: 20px;
}

.text-styles {
  padding: 15px;
}

.restaurant-name {
  font-size: 1.5rem;
  color: #333;
}

.restaurant-status .open {
  color: green;
}

.restaurant-status .close {
  color: red;
}

/* No Results Styling */
.no-results {
  text-align: center;
  padding: 50px;
  font-size: 1.5rem;
  color: #999;
}
.restaurant-description,
.restaurant-address,
.restaurant-reviews,
.restaurant-phone,
.restaurant-price,
.restaurant-status {
  margin-top: 10px;
  font-size: 19px;
}
.text-styles{
  margin-top: 20px;
}
